<?xml version="1.0"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
                http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">
    <persistence-unit name="stadto">
        <class>com.example.WSD.Model.Permission</class>
        <class>com.example.WSD.Model.User</class>
        <class>com.example.WSD.Model.Room</class>
    </persistence-unit>
</persistence>